body {
  background-color: black;
}

.content-wrapper {
  display: block;
  width: 80%;
  margin: auto;
  background-color: white;
}

.title-box {
  display: block;
  width: 100%;
  margin: auto;
}

.title-box h1 {
  font-family: arial;
  font-size: 54pt;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.module {
  display: block;
  border: solid 4px green;
}

.shoe1 {
  border: solid 1px pink;
  width: 20%;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.color-swatches li {
  list-style: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  float: left;
  margin: .5em;
}

h4 {
  clear: both;
  text-align: center;
}

p {
  text-align: center;
}