body {
  background-color: black;
}

.content-wrapper {
  display: block;
  width: 80%;
  margin: auto;
  background-color: white;
}

.title-box {
  display: block;
  width: 100%;
  margin: auto;
  border-bottom: solid 8px black;
}

.title-box h1 {
  font-family: arial;
  font-size: 54pt;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.module {
  display: inline-block;
  width: 100%;
}

img {
  max-height: 200px;
  padding: 0 20px 0 20px;
}

.shoe1, .shoe2, .shoe3, .shoe4, .shoe5, .shoe6, .shoe7, .shoe8, .shoe9, .shoe10 {
  text-align: center;
  width: 20%;
  float: left;
  padding-top: 80px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.color-swatches {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.color-swatches li {
  list-style: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  float: left;
  margin: .5em;
}

a {
  text-decoration: none;
  color: black;
}

.underline:hover {
  text-decoration: underline;
}